.landing-page {
    width: 100vw;
    height: 100vh;
    background: url("../assets/4kcupcake.webp");
    // backdrop-filter: brightness(.4);
    // backdrop-filter: blur(4px);
    // filter: brightness(.5);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(.4);
    }

    animation: upDown 2s;
    transition: .3s all ease;
    background-color: black;

    @keyframes upDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    p {
        position: relative;
        width: 60vh;
        text-align: center;
        font-size: 18px;
        z-index: 2;
    }

    #le-gateau {
        all: unset;
        position: relative;
        z-index: 2;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid rgb(80, 55, 20);
        // font-weight: bold;
        font-size: 20px;
        text-align: center;
        transition: .3s all ease;
        width: 250px;
        color: white;

        &:hover {
            width: 280px;
            box-shadow: 0 0 5px white;
        }
    }
}

@media screen and (max-width: 768px) {
    .landing-page {
        p {
            width: 70%;
        }
    }
}