.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 88px;
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(15px);

    .alida-logo {
        font-family: "Great Vibes", cursive;
        font-size: 50px;
        font-weight: bold;
        transition: .3s all ease;
        cursor: pointer;

        &:hover {
            scale: 1.04;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 20px;

            li {
                list-style-type: none;

                a {
                    color: white;
                    text-decoration: none;

                    position: relative;
                    transition: .3s all ease;

                    &::after {
                        content: "";
                        width: 0;
                        height: 5px;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        background-color: brown;
                        z-index: -1;
                        transition: .3s all ease;

                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}